{% extends "base.html" %}
{% block title %}Home{% endblock %} {% block content %}

<section class="vh-100 bg-image z-0">
  <div class="mask d-flex align-items-center h-100 z-0">
    <div class="container h-100 z-0">
      <div
        class="row d-flex justify-content-center align-items-center h-100 z-0">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 z-0">
          <div class="card z-0" style="border-radius: 15px;">
            <div class="card-body p-5 logincss z-0">
              <h3><b>Welcome, {{user.fullName}}!</b></h3>
              <p>Please add your hours for one day below:</p>
              <div style="max-height:300px; overflow-y:auto;">
                <ul class="list-group list-group-flush" id="hours">
                  {% for hour in user.hours %}
                  <li class="list-group-item">
                    <b>{{hour.date.strftime('%A, %m/%d/%Y, %I:%M %p')}}:</b> {{
                    hour.data|int if hour.data % 1 == 0 else hour.data }} hours
                    <button type="button" class="close"
                      onClick="deleteHour('{{hour.id}}')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <form method="POST">
                <textarea name="hour" id="hour" class="form-control"></textarea>
                <br />
                <div align="center">
                  <button type="submit"
                    class="btn btn-block btn-lg gradient-custom-4 "><b>Add
                      Hours</b></button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}