{% extends "base.html" %} 
{% block title %}Home{% endblock %} {% block content %}


<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <p><b>Welcome {{user.fullName}}!</b></p>
              <p>Please add your hours below:</p>
              <div style="max-height:300px; overflow-y:auto;">
                <ul class="list-group list-group-flush" id="hours">
                  {% for hour in user.hours %}
                  <li class="list-group-item">
                    <b>{{hour.date.strftime('%A, %m/%d/%Y, %I:%M %p')}}:</b> {{ hour.data|int if hour.data % 1 == 0 else hour.data }} hours
                    <button type="button" class="close" onClick="deleteHour('{{hour.id}}')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </li>   
                  {% endfor %}
                </ul>
              </div>
              <form method="POST">
                <textarea name="hour" id="hour" class="form-control"></textarea>
                <br />
                <div align="center">
                    <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"><b>Add Hours</b></button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% endblock %}