{% extends "base.html" %} 
{% block title %}Insights{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="insightcss gradient-custom-3">
    <br></br>
    <br></br>
    <h1 class="text-center nerds z-1">Stats for Robotics Nerds Below 🤓</h1>
    <br></br>
    <canvas class="z-1" id="barChart"></canvas>

    <script>    
        var ctx = document.getElementById("barChart").getContext("2d")
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: {{labels | safe}},
            datasets: [{
                label: 'Hours',
                data: {{data | safe}},
            }],
            },
            options: {
                
                indexAxis: 'x',
                responsive: true,
                scale: {
                    font: { size: 17}
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#dddddd' 
                        }
                    },
                    y: {
                        ticks: {
                            color: '#dddddd' 
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            
                            font: {
                                size: 20
                                
                            },
                            color: '#dddddd'
                        }
                    },
                    title: {
                      display: true,
                      text: 'Crevolution Build Hours by Member',
                      font: {
                        size: 20
                      },
                      color: '#dddddd'
                    }
                },
            },
        });
    </script>
    <br></br>
    <br></br>
    <br></br>
    <canvas class="z-1" id="barChart2"></canvas>

    <script>    
        var ctx = document.getElementById("barChart2").getContext("2d")
        var chart = new Chart(ctx, {
            type: 'bar',
            
            data: {
            labels: {{labels | safe}},
            datasets: [{
                label: 'Avg Hours Per Week',
                data: {{avg_pw | safe}},
                borderColor: '#77dd77',
                backgroundColor: '#77dd77',
            }],
            },
            options: {
                
                indexAxis: 'x',
                responsive: true,
                scale: {
                    font: { size: 17}
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#dddddd'
                        }
                    },
                    y: {
                        ticks: {
                            color: '#dddddd'
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 20
                            },
                            color: '#dddddd'
                        }
                    },
                    title: {
                      display: true,
                      text: 'Crevolution Build Hours by Member per Week',
                      font: {
                        size: 20
                      },
                      color: '#dddddd'
                    }
                },
            },
        });
    </script>


    <br></br>
    <br></br>
    <br></br>
    <canvas class="z-1" id="barChart3"></canvas>

    <script>    
        var ctx = document.getElementById("barChart3").getContext("2d")
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: {{labels | safe}},
            datasets: [{
                label: 'Logs Per Member',
                data: {{entries_per_user | safe}},
                borderColor: '#F88379',
                backgroundColor: '#F88379',
            }],
            },
            options: {
                
                indexAxis: 'x',
                responsive: true,
                scale: {
                    font: { size: 17}
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#dddddd' 
                        }
                    },
                    y: {
                        ticks: {
                            color: '#dddddd' 
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 20
                            },
                            color: '#dddddd'
                        }
                    },
                    title: {
                      display: true,
                      text: 'Total Hour Logs by Crevolution Members',
                      font: {
                        size: 20
                      },
                      color: '#dddddd'
                    }
                },
            },
        });
    </script>
</div>
{% endblock %}
