{% extends "base.html" %} 
{% block title %}Insights{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="barChart"></canvas>
    <script>
        var ctx = document.getElementById("barChart").getContext("2d")
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: {{labels | safe}},
            datasets: [{
                label: 'Hours',
                data: {{data | safe}},
            }],
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                plugins: {
                    legend: {
                      position: 'right',
                        labels: {
                            font: {
                                size: 20
                            }
                        }
                    },
                    title: {
                      display: true,
                      text: 'Crevolution Build Hours by Member',
                      font: {
                        size: 20
                      }
                    }
                },
            },
        });
    </script>
{% endblock %}
